.meteor-overlay{
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: repeat-x;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    color: white;
}

.meteorite {
    z-index: 1001;
    position: absolute;
    top: 400px;
    left: -400px;
    width: 400px;
    height: 186px;
}