<template name="installation">
	{{#if mustInstallExtension}}
	<div class="jumbotron">
		
		<div class="row">
			<div class="col-md-12">
				<h2>How To Play</h2>
				<p>1. Install the chrome extension.</p>
				<p>2. Browse the web to spot Meteor projects.</p>
				<p>3. Become the #1 Meteor spotter.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 center">
				<a target="_blank" href="https://chrome.google.com/webstore/detail/nhjijmaeejiignflcoiofkjfehggkddo" class="btn btn-primary btn-lg btn-install">Start Playing</a>
			</div>
		</div>
	</div>
	{{/if}}
</template>