<template name="installation">
	<div class="jumbotron hidden">
		<div class="row">
			<div class="col-md-12">
				<h2>How To Play</h2>
				<p>1. Install the chrome extension.</p>
				<p>2. Browse the web to spot Meteor projects.</p>
				<p>3. Become the #1 Meteor spotter.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 center">
				<a target="_blank" href="https://chrome.google.com/webstore/detail/einpbpebojhmlnepcbkehkihadongnep" class="btn btn-primary btn-lg btn-install">Start Playing</a>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2 text-center" style="padding:2em;">
				<img src="/images/address-bar.png">
			</div>
			<div class="col-md-10 text-left">
				<p><small>Once the extension is installed, every time you stumble upon a site running Meteor, a small Meteor will appear in your browser.<br>If you discover a new Meteor, you might see a bigger one...</small></p>
			</div>
		</div>
	</div>

</template>