<template name="spotting">
	<li class="list-group-item spotting">
		<img src="http://g.etfv.co/{{url}}" width="20" height="20">
		{{#if count}}
            <span class="spot-badge">{{count}}</span>
        {{/if}}
		<div class="url">
            <a target="_blank" href="{{url}}">{{url}}</a>
        </div>
		{{#if newSpotting}}<span class="glyphicon glyphicon-star"></span>{{/if}}
        {{#if lastSpottedBy}}
        <p class="spotted-by">Last spotted by <a target="_blank" href="http://twitter.com/{{lastSpottedBy.screenName}}">@{{lastSpottedBy.screenName}}</a></p>
        {{/if}}
	</li>
</template>