<template name="spotter">
	<li class="list-group-item spotter">
		{{#with user}}
		<img src="{{profileImage}}" width="40" height="40">
		{{/with}}
		<div class="spotter-detail">
			<a target="_blank" href="http://twitter.com/{{user.screenName}}" class="handle">@{{user.screenName}}</a>
			{{#if numberOfDiscoveries}}
				<p class="discoveries">Discovered {{numberOfDiscoveries}} {{discoveryLabel numberOfDiscoveries}}</p>
			{{/if}}
		</div>
		<span class="spot-badge">{{numberOfSpottings}}</span>
	</li>
</template>