<template name="spotting">
	<li class="list-group-item spotting">
		<img src="/images/meteor.png" width="16" height="15">
        {{#if count}}
            <span class="spot-badge">{{count}}</span>
        {{/if}}
		<div class="url">
            <a target="_blank" href="{{url}}">{{url}}</a>
        </div>
        <p class="spotted-by">
		{{#if newSpotting}}
            Discovered by you!
        {{else}}
            {{#if lastSpottedBy}}
            Last spotted by <a target="_blank" href="http://twitter.com/{{lastSpottedBy.screenName}}">@{{lastSpottedBy.screenName}}</a>
            {{/if}}
        {{/if}}
        </p>
	</li>
</template>