/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('/images/background.jpg');
  background-repeat: repeat-x;
  background-color: #304b80;
}

.title {
  margin-bottom: 40px;

  h1 {
    text-align: center;
    font-size: 60px;
  }

  hr {
    border: none;
    width: 546px;
    height: 30px;
    background: {
        image: url('/images/line.png');
        repeat: no-repeat;
        // position: 100% 0%;
    }
  }
}

i {
    margin-right: 12px;

    &.meteor {
        display: inline-block;
        vertical-align: middle; 
        height: 29px;
        width: 32px;
        background-image: url('/images/meteor.png');
    }
}

footer {
  text-align: center;
  margin: 20px;

  a, a:hover {
    color: white;
  }

  a:hover {
    text-shadow: 0 0 15px #fff;
  }
}