#login-buttons {

    .login-image {
        left: 14px;
        top: 18px;
        width: 24px;
        height: 24px;
    }

    .login-button {
        padding: 12px 24px;
        font-size: 24px;
        font-family: 'Arvo', serif;
    }

    #login-buttons-image-twitter {
        background-size: 24px;
    }

    .text-besides-image {
        margin-left: 28px;
    }
}

.btn-install {
    margin: 20px;
}