/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 940px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 60px;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron {
  padding: 20px !important;

  h1, h2, p {
    color: rgb(51, 51, 51);
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

h1 {
  a {
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
}

.spotting {
  padding: 20px;

  img {
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
  }

  .url {
    font-size: 16px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
  }

  .spotted-by {
    color: #4d4d4d;
    margin-left: 28px;
    font-size: 12px;
    margin-bottom: 0px;
  }
}


.spotter {
  img {
      border-radius: 80px;
      margin-right: 10px;
  }

  .spotter-detail, img, .spot-badge {
    display: inline-block;
    vertical-align: middle;
  }

  .handle {
    font-size: 16px;
  }

  .discoveries {
    color: #4d4d4d;
    font-size: 12px;
    margin-bottom: 0px;
  }
}

.profile-pic {
  margin-right: 15px;
  border-radius: 60px;
}

.spot-badge {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background-color: #777;
  float: right;
  display: inline-block;
}

.glyphicon {
  float: right;
  font-size: 20px;  
}

.meteorite {
  width: 400px;
  height: 186px;
  background-image: url('/images/meteorite.png');
  position: absolute;
  left:-400px;
  top: 400px;
  transition: 0.4s;

  &.shoot {
    left: 2000px;
    top: 200px;
  }
}

.profile-link {
  padding-right: 15px;
  padding-left: 15px;

  .stats, img {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    border-radius: 32px;
    height: 36px;
    margin-right: 5px;
  }

  a {
    color: white;

    &:hover {
      text-shadow: 0 0 15px #fff;
    }
  }

  p {
    margin-bottom: 0px;
  }
}